.firstPageMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appHeader {
  color: #fff;
}



.firstPageFlex a {
  text-decoration: none;
  border: 2px solid #818FB4;
  border-radius: 5px;
  padding: 7px 15px;
  background-color: #22092C;
  color: #fff;
}
.signBtnBlock{
  display: flex;
  justify-content: space-between;
}